<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="reservationModal(reservationDTO)">
    <div class="modal" tabindex="-1" role="dialog" id="reservationModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{everywhere.reservation}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form th:action="@{${#httpServletRequest.requestURI} + '/reservation'}" method="POST" th:object="${reservationDTO}">
                            <div class="row">
                                <div class="form-group">
                                    <label th:text="#{everywhere.arrivalDate}"></label>
                                    <input type="date" th:field="*{arrivalDate}" id="arrivalDate"
                                           th:class="${#fields.hasErrors('arrivalDate')}? 'form-control is-invalid' : 'form-control'" />
                                    <div th:if="${#fields.hasErrors('arrivalDate')}" class="invalid-feedback" th:errors="*{arrivalDate}"></div>
                                </div>
                                <div class="form-group">
                                    <label th:text="#{everywhere.departureDate}"></label>
                                    <input type="date" th:field="*{departureDate}" id="departureDate"
                                           th:class="${#fields.hasErrors('departureDate')}? 'form-control is-invalid' : 'form-control'"/>
                                    <div th:if="${#fields.hasErrors('departureDate')}" class="invalid-feedback" th:errors="*{departureDate}"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-end">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                th:text="#{everywhere.close}"></button>
                                        <button type="submit" class="btn btn-primary" th:text="#{everywhere.reservation}"></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="editModal">
    <div class="modal" tabindex="-1" role="dialog" id="editModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{everywhere.edit}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form th:action="@{/country-list/edit}" method="POST">
                            <div class="row">
                                <div class="form-group">
                                    <input type="text" class="form-control" th:value="${country.countryName}" name="countryName"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-end">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                th:text="#{everywhere.close}"></button>
                                        <button type="submit" class="btn btn-primary" th:text="#{everywhere.saveChanges}"></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:fragment="removeModal">
    <div class="modal" tabindex="-1" role="dialog" id="removeModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{everywhere.remove}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p th:text="#{country.remove}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{everywhere.close}"></button>
                    <a th:href="@{'/country-list/' + ${country.idCountry} + '/remove'}" class="btn btn-danger"
                       th:text="#{everywhere.remove}"></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:fragment="createModal">
    <div class="modal" tabindex="-1" role="dialog" id="createModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{everywhere.edit}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form th:action="@{/country-list/create-new}" th:object="${countryDTO}" method="POST">
                            <div class="row">
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="*{countryName}"
                                           th:placeholder="#{everywhere.country}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-end">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                th:text="#{everywhere.close}"></button>
                                        <button type="submit" class="btn btn-primary" th:text="#{everywhere.saveChanges}"></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:fragment="scriptModal">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
</script>
</body>
</html>