<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head th:replace = "fragments/common :: head">
</head>
<body>
<div th:replace="fragments/common :: navBar"></div>
<div class="container mt-5">
<table>
    <thead>
    <tr>
        <th> Country </th>
        <th> City </th>
        <th> Street </th>
        <th> House </th>
        <th> Flat </th>
        <th> Description </th>
        <th> Data </th>
        <th> User info </th>
        <th> All review</th>
        <div sec:authorize="isAuthenticated()">
            <div th:if="${checkUser}">
                <th> Add review</th>
            </div>
        </div>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${advertisementDTO}">
        <td><p th:text="*{address.country}"></p></td>
        <td><p th:text="*{address.city}"></p></td>
        <td><p th:text="*{address.street}"></p></td>
        <td><p th:text="*{address.house}"></p></td>
        <td><p th:text="*{address.flat}? *{address.flat} : 'not info'"></p></td>
        <td><p th:text="*{description}"></p></td>
        <td><p th:text="*{data}"></p></td>
        <td><a th:href="@{'/profile/' + *{user.id}}">user info</a></td>
        <td><a th:href="@{'/advertisement/' + *{idAdvertisement} + '/all-review'}">all review</a></td>
        <div sec:authorize="isAuthenticated()">
            <div th:if="${checkUser}">
                <td><a th:href="@{'/advertisement/' + *{idAdvertisement} + '/add-review'}">add review</a></td>
            </div>
        </div>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>