<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <th:block th:include = "fragments/common :: head"></th:block>
    <link rel="stylesheet" href="/static/css/rating.css">
</head>
<body>
<div th:replace="fragments/common :: navBar"></div>
<div class="container mt-5">
    <div th:object="${advertisementDTO}">
        <div class="row text-center">
            <img th:src="@{'/img/'+*{images[0].imagePath}}" class="img-fluid">
        </div>
        <div class="row">
            <h5 th:text="#{everywhere.description} + ': '"></h5>
        </div>
        <div class="row">
            <p class="text-justify" th:text="*{description}"></p>
        </div>
        <div class="row row-cols-3">
            <div class="col">
                <h5 th:text="#{everywhere.country} + ':'"></h5>
                <p th:text="*{address.country.countryName}"></p>
            </div>
            <div class="col">
                <h5 th:text="#{everywhere.city} + ':'"></h5>
                <p th:text="*{address.city}"></p>
            </div>
            <div class="col">
                <h5 th:text="#{everywhere.street} + ':'"></h5>
                <p th:text="*{address.street}"></p>
            </div>
        </div>
        <div class="row row-cols-4">
            <div class="col">
                <h5 th:text="#{everywhere.house} + ':'"></h5>
                <p th:text="*{address.house}? *{address.house} : '-'"></p>
            </div>
            <div class="col">
                <h5 th:text="#{everywhere.building} + ':'"></h5>
                <p th:text="*{address.building}? *{address.building} : '-'"></p>
            </div>
            <div class="col">
                <h5 th:text="#{everywhere.flat} + ':'"></h5>
                <p th:text="*{address.flat}? *{address.flat} : '-'"></p>
            </div>
            <div class="col">
                <h5 th:text="#{everywhere.price} + ':'"></h5>
                <p th:text="*{price} + '$'"></p>
            </div>
        </div>
    </div>
    <div sec:authorize="isAuthenticated()">
        <div th:if="${checkUser}">
            <div th:if="${checkDate == null or checkDate == false}">
                <form th:action="@{'/advertisement/' + ${advertisementDTO.idAdvertisement} + '/check-availability'}"
                      method="POST">
                    <div class="row">
                        <h5 th:text="#{advertisement.checkAvailability}"></h5>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label th:text="#{everywhere.arrivalDate}"/>
                            <input type="date" th:field="${reservationDate.arrivalDate}"
                                   th:class="${#fields.hasErrors('reservationDate.arrivalDate')}? 'form-control is-invalid' : 'form-control'"/>
                            <div th:if="${#fields.hasErrors('reservationDate.arrivalDate')}" class="invalid-feedback" th:errors="${reservationDate.arrivalDate}"></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label th:text="#{everywhere.departureDate}"/>
                            <input type="date" th:field="${reservationDate.departureDate}"
                                   th:class="${#fields.hasErrors('reservationDate.departureDate')}? 'form-control is-invalid' : 'form-control'"/>
                            <div th:if="${#fields.hasErrors('reservationDate.departureDate')}" class="invalid-feedback" th:errors="${reservationDate.departureDate}"></div>
                        </div>
                        <div>
                            <button class="btn btn-primary mb-2" type="submit">Ok</button>
                        </div>
                    </div>
                </form>
                <div th:if="${checkDate == false}">
                    <div class="row" th:unless="${checkDate}">
                        <p th:text="#{advertisement.noPlaces}"></p>
                    </div>
                </div>
            </div>
            <div th:if="${checkDate}">
                <form th:action="@{'/advertisement/' + ${advertisementDTO.idAdvertisement} + '/reservation'}" method="POST"
                      th:object="${reservationDTO}">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label th:text="#{everywhere.arrivalDate}"/>
                            <input type="date" name="arrivalDate" th:value="${arrivalDate}" class="form-control"/>
                            <input type="hidden" name="checkArrivalDate" th:value="${arrivalDate}"/>
                        </div>
                        <div class="form-group col-md-4">
                            <label th:text="#{everywhere.departureDate}"/>
                            <input type="date" name="departureDate" th:value="${departureDate}" class="form-control"/>
                            <input type="hidden" name="checkDepartureDate" th:value="${departureDate}"/>
                        </div>
                    </div>
                    <div class="row">
                        <p th:text="#{advertisement.reservation.allowed}"></p>
                    </div>
                    <div class="row" th:if="${checkDate}">
                        <button th:if="${checkCard}"  class="btn btn-primary mr-2" type="submit"
                                th:text="#{everywhere.reservation}"></button>
                        <button th:if="${!checkCard}" type="button" class="btn btn-danger ml-2 mb-2" data-toggle="popover"
                                th:title="#{popover.title}" th:data-content="#{popover.body}" th:text="#{everywhere.reservation}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row mb-2" th:object="${advertisementDTO}">
        <div sec:authorize="isAuthenticated()">
            <div th:if="${checkUser}">
                <button class="btn btn-primary ml-2" type="button" data-toggle="collapse" data-target="#addReview"
                        aria-expanded="false" aria-controls="addReview" th:text="#{advertisement.addReview}">
                </button>
            </div>
        </div>
        <a th:href="@{'/profile/' + *{user.id}}" class="btn btn-primary ml-2" th:text="#{everywhere.user}"></a>
        <a th:href="@{'/advertisement/' + *{idAdvertisement} + '/all-review'}" class="btn btn-primary ml-2"
           th:text="#{advertisement.allReview}"></a>
    </div>
    <div class="collapse mb-4" id="addReview">
        <div class="card card-body col-sm-7">
            <form th:action="@{'/advertisement/' + ${idAdvertisement} + '/add-review'}" th:object="${reviewDTO}" method="POST">
                <div class="form-group">
                    <div class="row">
                        <textarea rows="2" type="text" th:field="*{review}" id="review" class="form-control ml-5"
                                  th:placeholder="#{advertisement.review}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="rating ml-4 mb-2">
                        <input type="radio" name="rating" th:field="*{rating}" value="5" id="5"><label for="5">☆</label>
                        <input type="radio" name="rating" th:field="*{rating}" value="4" id="4"><label for="4">☆</label>
                        <input type="radio" name="rating" th:field="*{rating}" value="3" id="3"><label for="3">☆</label>
                        <input type="radio" name="rating" th:field="*{rating}" value="2" id="2"><label for="2">☆</label>
                        <input type="radio" name="rating" th:field="*{rating}" value="1" id="1" checked="checked"><label for="1">☆</label>
                    </div>
                </div>
                <button class="btn btn-primary ml-3" type="submit">Ok</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/common :: bootScript"></div>
<script src="/static/js/popover.js"></script>
</body>
</html>



