<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head th:replace = "fragments/common :: head"></head>
<body>
<div th:replace="fragments/common :: navBar"></div>
<div class="container mt-5" th:object="${advertisementDTO}">
    <div class="row">
        <img th:src="@{'/img/'+*{images[0].imagePath}}">
    </div>
    <div class="row">
        <h5 th:text="#{everywhere.description}"></h5>
    </div>
    <div class="row">
        <p th:text="*{description}"></p>
    </div>
    <div class="row row-cols-3">
        <div class="col">
            <h5 th:text="#{everywhere.country} + ':'"></h5>
            <p th:text="*{address.country.countryName}"></p>
        </div>
        <div class="col">
            <h5 th:text="#{everywhere.city} + ':'"></h5>
            <p th:text="*{address.city}"></p>
        </div>
        <div class="col">
            <h5 th:text="#{everywhere.street} + ':'"></h5>
            <p th:text="*{address.street}"></p>
        </div>
        <div class="col">
            <h5 th:text="#{everywhere.house} + ':'"></h5>
            <p th:text="*{address.house}"></p>
        </div>
        <div class="col">
            <h5 th:text="#{everywhere.flat} + ':'"></h5>
            <p th:text="*{address.flat}? *{address.flat} : 'not info'"></p>
        </div>
        <div class="col">
            <h5 th:text="#{everywhere.price} + ':'"></h5>
            <p th:text="*{price}"></p>
        </div>
    </div>
    <div class="row row-cols-4">
        <div class="col">
        <a th:href="@{'/profile/' + *{user.id}}" class="btn btn-primary" th:text="#{advertisement.user}"></a>
        </div>
        <div class="col">
        <a th:href="@{'/advertisement/' + *{idAdvertisement} + '/all-review'}" class="btn btn-primary" th:text="#{advertisement.review}"></a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div th:if="${checkUser}">
                <div class="col">
                <a th:href="@{'/advertisement/' + *{idAdvertisement} + '/add-review'}" class="btn btn-primary" th:text="#{advertisement.add.review}"></a>
                </div>
                <div class="col">
                    <a th:if="${userCard}"
                       th:href="@{${userCard} + '/reservation'}" class="btn btn-primary" th:text="#{button.reservation}"></a>
                    <div th:if="${userCard == null}">
                        <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" th:title="#{popover.title}"
                                th:data-content="#{popover.body}" th:text="#{button.reservation}"></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/common :: bootScript"></div>
<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>
</body>
</html>