<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace = "fragments/common :: head"></head>
<body>
<div th:replace="fragments/common :: navBar"></div>
<div class="container mt-5">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col" th:text="#{everywhere.country}"></th>
            <th scope="col" th:text="#{everywhere.edit}"></th>
            <th scope="col"th:text="#{everywhere.remove}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="country : ${countryList}">
            <td><p th:text="${country.idCountry}"></p></td>
            <td><p th:text="${country.countryName}"></p></td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal"
                        th:text="#{everywhere.edit}"></button>
                <div th:replace="fragments/modal :: editModal"></div>
            </td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#removeModal"
                        th:text="#{everywhere.remove}"></button>
                <div th:replace="fragments/modal :: removeModal"></div>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal"
            th:text="#{admin.country.new}"></button>
    <div th:replace="fragments/modal :: createModal"></div>
</div>
<div th:replace="fragments/common :: bootScript"></div>
</body>
</html>