<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head th:replace = "fragments/common :: head">
</head>
<body>
<div th:replace="fragments/common :: navBar"></div>
<div class="container mt-5">
    <form action="filter" method="post" class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <select class="form-control" id="country" name="filterCountry">
                    <option th:value="${null}" th:text="'Choose country'"></option>
                    <option th:each="country : ${countryDTOList}"
                            th:value="${country.idCountry}"
                            th:text="${country.countryName}"></option>
                </select>
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" name="filterCity" placeholder="City">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Find</button>
    </form>
    <div th:unless="${advertisementList}">
        <p>No advertisement Available</p>
    </div>
    <div th:if="${advertisementList}" >
        <div class="row row-cols-1 row-cols-md-2">
            <div th:each="advertisement : ${advertisementList}">
                <div class="card my-3 m-2">
                    <img th:src="@{'/img/'+${advertisement.images[0].imagePath}}" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text" th:text="${advertisement.description}"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:text="'Country: ' + ${advertisement.address.country.countryName}"></li>
                        <li class="list-group-item" th:text="'City: ' + ${advertisement.address.city}"></li>
                        <li class="list-group-item" th:text="'Publication date: ' + ${advertisement.data}"></li>
                    </ul>
                    <div class="card-body">
                        <a th:href="@{'/advertisement/' + ${advertisement.idAdvertisement}}" class="card-link">More info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/common :: bootScript"></div>
</div>
</body>
</html>