<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head th:replace = "fragments/common :: head">
</head>
<body>
<div th:replace="fragments/common :: navBar"></div>
<div class="container mt-5">
    <form action="filter" method="GET" class="form-inline">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <select class="form-control" id="country" name="filterCountry">
                    <option th:value="${null}" th:text="#{choose.country}"></option>
                    <option th:each="country : ${countryDTOList}"
                            th:value="${country.idCountry}"
                            th:text="${country.countryName}"></option>
                </select>
            </div>
            <div class="col-auto">
                <input class="form-control" type="text" name="filterCity" th:placeholder="#{everywhere.city}"/>
            </div>
            <div class="col-auto">
                <label for="arrivalDate" th:text="#{everywhere.arrivalDate}"></label>
                <input class="form-control mb-4" id="arrivalDate" type="date" name="filterArrivalDate"/>
            </div>
            <div class="col-auto">
                <label for="departureDate" th:text="#{everywhere.departureDate}"></label>
                <input class="form-control mb-4" type="date" id="departureDate" name="filterDepartureDate"/>
            </div>
            <div class="col-auto">
            <button type="submit" class="btn btn-primary" th:text="#{main.filter}"></button>
            </div>
        </div>
    </form>
    <div th:if="${listDTOPage == null or listDTOPage.isEmpty()}">
        <p th:text="#{main.noAdvertisement}"></p>
    </div>
    <div th:if="${listDTOPage}" >
        <div class="row row-cols-1 row-cols-md-2">
            <div th:each="advertisement : ${listDTOPage.content}">
                <div class="card my-3 m-2">
                    <div class="card-header bg-transparent text-right" th:text="#{everywhere.rating} + ': ' + ${advertisement.rating}"></div>
                    <img th:src="@{'/img/'+${advertisement.images[0].path}}" width="415" height="234" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text text-justify" th:text="${advertisement.description}"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:text="#{everywhere.country} + ' : ' + ${advertisement.address.country.countryName}"></li>
                        <li class="list-group-item" th:text="#{everywhere.city} + ' : ' + ${advertisement.address.city}"></li>
                        <li class="list-group-item" th:text="#{everywhere.publication} + ' : ' +${#temporals.format(advertisement.date, 'dd-MM-yyyy')}"></li>
                        <li class="list-group-item" th:text="#{everywhere.price} + ' : ' + ${advertisement.price} + '$'"></li>
                    </ul>
                    <div class="card-body">
                        <a th:href="@{'/advertisement/' + ${advertisement.idAdvertisement}}" class="card-link" th:text="#{main.more.info}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/common :: pagination(pageList = ${listDTOPage})"></div>
</div>
<div th:replace="fragments/common :: bootScript"></div>
</body>
</html>