<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace = "fragments/common :: head">
</head>
<body>
<div th:replace="fragments/common :: navBar"></div>
<div class="container mt-5">
    <form th:action="@{/new-advertisement}" th:object="${advertisementDTO}" method="POST" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-7">
                <label class="col-sm-2 col-form-label" th:text="#{everywhere.description} + ':'"> </label>
                <textarea rows="3" type="text" th:field="*{description}" id="description" th:class="${#fields.hasErrors('description')}? 'form-control is-invalid' : 'form-control'"
                          th:placeholder="#{everywhere.description}" th:value="*{description}? *{description} : ''"></textarea>
                <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback" th:errors="${description}"></div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="country" th:text="#{choose.country} + ':'"></label>
                <select class="form-control" id="country" th:field="*{address.country.idCountry}">
                    <option th:value="${null}" th:text="#{choose.country}"></option>
                    <option th:each="country : ${countryDTOList}"
                            th:value="${country.idCountry}"
                            th:text="${country.countryName}"></option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label th:text="#{everywhere.city} + ':'"></label>
                <input type="text" th:field="*{address.city}" id="city" th:class="${#fields.hasErrors('address.city')}? 'form-control is-invalid' : 'form-control'"
                       th:value="*{address.city}? *{address.city} : ''" th:placeholder="#{everywhere.city}"/>
                <div th:if="${#fields.hasErrors('address.city')}" class="invalid-feedback" th:errors="*{address.city}"></div>
            </div>
            <div class="form-group col-md-4">
                <label th:text="#{everywhere.street} + ':'"></label>
                <input type="text" th:field="*{address.street}" id="street" th:class="${#fields.hasErrors('address.street')}? 'form-control is-invalid' : 'form-control'"
                       th:value="*{address.street}? *{address.street} : ''" th:placeholder="#{everywhere.street}"/>
                <div th:if="${#fields.hasErrors('address.street')}" class="invalid-feedback" th:errors="*{address.street}"></div>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col-md-3">
                <label th:text="#{everywhere.house} + ':'"></label>
                <input type="text" th:field="*{address.house}" id="house" th:class="${#fields.hasErrors('address.house')}? 'form-control is-invalid' : 'form-control'"
                       th:value="*{address.house}? *{address.house} : ''" th:placeholder="#{everywhere.house}"/>
                <div th:if="${#fields.hasErrors('address.house')}" class="invalid-feedback" th:errors="*{address.house}"></div>
            </div>
            <div class="form-group col-md-3">
                <label th:text="#{everywhere.building} + ':'"></label>
                <input type="text" th:field="*{address.building}" id="building" th:class="${#fields.hasErrors('address.building')}? 'form-control is-invalid' : 'form-control'"
                       th:value="*{address.building}? *{address.building} : ''" th:placeholder="#{everywhere.building}"/>
                <div th:if="${#fields.hasErrors('address.building')}" class="invalid-feedback" th:errors="*{address.building}"></div>
            </div>
            <div class="form-group col-md-3">
                <label th:text="#{everywhere.flat} + ':'"></label>
                <input type="text" th:field="*{address.flat}" id="flat" th:class="${#fields.hasErrors('address.flat')}? 'form-control is-invalid' : 'form-control'"
                       th:value="*{address.flat}? *{address.flat} : ''" th:placeholder="#{everywhere.house}"/>
                <div th:if="${#fields.hasErrors('address.flat')}" class="invalid-feedback" th:errors="*{address.flat}"></div>
            </div>
            <div class="form-group col-md-3">
                <label th:text="#{everywhere.price} + ':'"></label>
                <input type="text" th:field="*{price}" id="price" th:class="${#fields.hasErrors('price')}? 'form-control is-invalid' : 'form-control'"
                       th:value="*{price}? *{price} : ''" th:placeholder="#{everywhere.price}"/>
                <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback" th:errors="*{price}"></div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="browseFile" th:text="#{advertisement.file}"></label>
                <input type="file" class="form-control-file" id="browseFile">
            </div>
        </div>
        <label>Image</label>
        <input type="file" name="image">
        <button class="btn btn-primary" type="submit">Ok</button>
    </form>
</div>
</body>
</html>