<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
Enter yor information
<form th:action="@{/registration}" th:object="${userDTO}" method="POST">
    <label>login</label></br>
    <input type="text" th:field="*{username}" id="username" placeholder="username"></br>
    <label>email</label></br>
    <input type="text" th:field="*{email}" id="email" placeholder="email"></br>
    <label>password</label></br>
    <input type="password" th:field="*{password}" id="password" placeholder="password"></br>
    <label>confirm password</label></br>
    <input type="password" th:field="*{confirmPassword}" id="confirmPassword" placeholder="confirm password"></br>
    <input type="submit" value="Ok">
</form>
<div th:if="${errorPassword}" th:utext="${errorPassword}"></div>
<div th:if="${usernameError}" th:utext="${usernameError}"></div>
</body>
</html>