<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace = "fragments/common :: head"></head>
<body>
<div th:replace="fragments/common :: navBar"></div>
<div class="container mt-5">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col" th:text="#{user.username}"></th>
            <th scope="col">Email</th>
            <th scope="col"th:text="#{user.name}"></th>
            <th scope="col" th:text="#{user.role}"></th>
            <th scope="col" th:text="#{everywhere.edit}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${listDTOPage.content}">
            <td><p th:text="${user.id}"></p></td>
            <td><p th:text="${user.username}"></p></td>
            <td><p th:text="${user.email}"></p></td>
            <td><p th:text="${user.name}"></p></td>
            <td><p th:text="${user.roles}"></p></td>
            <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#editUserModal"
                th:text="#{everywhere.edit}"></button>
                <div th:replace="fragments/modal :: editUserModal"></div>
        </tr>
        </tbody>
    </table>
    <div th:replace="fragments/common :: pagination(pageList = ${listDTOPage})"></div>
</div>
<div th:replace="fragments/common :: bootScript"></div>
</body>
</html>