<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace = "fragments/common :: head"></head>
<body>
<div th:replace="fragments/common :: navBar"></div>
<div class="container">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col" th:text="#{user.username}"></th>
            <th scope="col">Email</th>
            <th scope="col"th:text="#{user.name}"></th>
            <th scope="col" th:text="#{user.role}"></th>
            <th scope="col" th:text="#{user.edit}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td><p th:text="${user.id}"></p></td>
            <td><p th:text="${user.username}"></p></td>
            <td><p th:text="${user.email}"></p></td>
            <td><p th:text="${user.name}"></p></td>
            <td><p th:text="${user.roles}"></p></td>
            <td><a th:href="@{'/admin/' + ${user.id}}" th:text="#{everywhere.user}"></a></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/common :: bootScript"></div>
</body>
</html>