<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head th:replace = "fragments/common :: head">
</head>
<body>
<div th:replace="fragments/common :: navBar"></div>
<div class="container mt-5">

    <div th:if="${checkUser}">
        <div class="card mb-2" th:if="${userDTO.activationCode != null}">
            <div class="card-header" th:text="#{user.activation}">
            </div>
            <div class="card-body">
                <div th:unless="${messageCodeNotFound}">
                    <h5 class="card-title" th:text="#{user.notActivated}"></h5>
                    <a class="card-text" th:if="${isSendCode == false}" th:href="@{/profile/send-code}"
                       th:text="#{user.sendCode.href}"></a>
                    <p class="card-text" th:if="${isSendCode}" th:text="#{user.sendCode}"></p>
                </div>
                <div th:if="${messageCodeNotFound}">
                    <h5 class="card-title" th:text="#{__${messageCodeNotFound}__}"></h5>
                </div>
            </div>
        </div>

        <div class="card mb-2" th:if="${userDTO.activationCode} and ${messageActivated}">
            <div class="card-header" th:text="#{user.activation}">
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="#{__${messageActivated}__}"></h5>
            </div>
        </div>
    </div>

    <div th:object="${userDTO}">
        <div>
            <img class="border border-secondary" th:src="@{'/img/'+*{avatarName}}" width="150" height="175">
        </div>
        <dl class="row">
            <dt class="col-sm-2" th:text="#{user.username} + ':'"></dt>
            <dd class="col-sm-10" th:text="*{username}"></dd>
            <dt class="col-sm-2">Email:</dt>
            <dd class="col-sm-10" th:text="*{email}? *{email} : '-'"></dd>
            <dt class="col-sm-2" th:text="#{user.name} + ':'"></dt>
            <dd class="col-sm-10" th:text="*{name}? *{name} : '-'"></dd>
            <dt class="col-sm-2" th:text="#{user.surname} + ':'"></dt>
            <dd class="col-sm-10" th:text="*{surname}? *{surname} : '-'"></dd>
            <div sec:authorize="isAuthenticated()">
                <div th:if="${checkUser}">
                    <dt class="col-sm-2" th:text="#{user.card} + ':'"></dt>
                    <dd class="col-sm-10" th:text="*{card}? *{card} : '-'"></dd>
                    <dt class="col-sm-2" th:text="#{user.paymentAccount} + ':'"></dt>
                    <dd class="col-sm-10" th:text="*{paymentAccount}? *{paymentAccount} : '-'"></dd>
                </div>
            </div>
        </dl>
    </div>
    <div sec:authorize="isAuthenticated()">
        <div th:if="${checkUser}">
            <a class="btn btn-primary" th:href="@{/profile/update}" th:text="#{update.info}"></a>
            <a class="btn btn-primary" th:href="@{/profile/advertisement}" th:text="#{user.advertisement}"></a>
        </div>
    </div>
</div>
<div th:replace="fragments/common :: bootScript"></div>
</body>
</html>