<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head th:replace = "fragments/common :: head">
</head>
<body>
<div th:replace="fragments/common :: navBar"></div>
<div class="container mt-5">
<div th:object="${userDTO}">
    <div>
        <img th:src="@{'/img/'+*{avatarName}}" width="150" height="175">
    </div>
    <p>username:</p><span th:text="*{username}"></span>
    <p>email:</p><span th:text="*{email}"></span>
    <p>name:</p><span th:text="*{name}? *{name} : 'no info'"/>
    <p>surname:</p><span th:text="*{surname}? *{surname} : 'no info'"/>
    <p>your card:</p><span th:text="*{card}? *{card} : 'no info'"/>
</div>
<div sec:authorize="isAuthenticated()">
    <div th:if="${checkUser}">
        <a th:href="@{'/profile/'+${#authentication.principal.id}+'/update'}">update info</a>
        <a th:href="@{/profile/advertisement}">Your advertisement</a>
    </div>
</div>
</div>
</body>
</html>